version: '3.8'
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: 'Sayis.'
      MYSQL_DATABASE: 'truck_db'
    volumes:
      - db_data:/var/lib/mysql
      - ./backend/src/main/resources/data/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - '3306:3306'

  backend:
    build: ./backend
    depends_on:
      - db
    ports:
      - '8080:8080'
    environment:
      - SPRING_PROFILES_ACTIVE=default

  frontend:
    build: ./frontend
    ports:
      - '3000:80'
    depends_on:
      - backend

volumes:
  db_data:
