server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${DB_URL:jdbc:h2:mem:truck_db;DB_CLOSE_DELAY=-1;MODE=MySQL}
    username: ${DB_USERNAME:sa}
    password: ${DB_PASSWORD:}
    driver-class-name: ${DB_DRIVER:org.h2.Driver}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  jackson:
    time-zone: America/Bogota
  h2:
    console:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true

# logging:
#  level:
#    root: INFO
